@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background: #0c1022;
    color: white;
}
.header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 10%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.Logo{
    font-size: 26px;
    color:white;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
}

.navbar a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a.active{
    background: linear-gradient(45deg, #f06,#3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    }

.navbar a:hover{
    background: linear-gradient(45deg, #f06,#3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}        

.Home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    justify-content: space-between;
    padding: 70px 10% 0;
}
.Home-content{
    font-size: 16px;
    font-weight:300;
    line-height: 1.2;
   
    max-width: 500px;
}
.Home-content h3{
    font-size: 32px;
    font-weight: 700;
}
.Home-content p{

    font-size: 16px;
    margin: 20px 0 40px;
}

.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:150px;
    height: 38px;
    border-radius: 48px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight:700;
    /* margin-top: 20px; */
    position: relative;
    z-index: 1;

}


.btn::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #F06,#3cf,#F06);
    z-index:-1;
    border-radius: 40px;
    background-size: 200%;
    background-position: 0 0;
    filter: blur(5px);
}

.btn::after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #F06,#3cf,#F06);
    background-position: 0 0;
    z-index:-1;
    border-radius: 40px;
    background-size: 200%;
    transition: .5s ease;
    
}
.btn:hover::after{
    width:170px;
    height: 44px;
    background-position: 100% 0;
}

.home-sci a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #F06,#3cf);
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 20px 0;
    transition: 4s ease;
    position: relative;
    z-index: 1;
}

.home-sci a::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #0c1022;
    border-radius:50%;
    transform:scale(.88);
    z-index: -1;
    transition: .5s ease;
}

.home-sci a:before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #F06,#3cf);
    border-radius:50%;
    z-index: -1;
    transition: .5s ease;
}

.home-sci a:hover:before{
    filter: blur(5px);
}

.home-sci a:hover::after{
    transform: scale(0);
}

.home-img{
    width: 410px;
    height: 410px;
}

.glowing-cirle{
    width: 100%;
    height: 100%;
  
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    position: absolute;
    width: 24%;
    height: 49%;
    border-radius: 50%;
    background: linear-gradient(#F06,#3cf);
}

.glowing-cirle span:nth-child(1) {
    filter: blur(10px);
}

.home-img .glowing-cirle::after{
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    background: #0c1022;
    border-radius: 50%;
}

.image{
    position: relative;
    width: 380px;
    height: 380px;
    
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

img{
    max-width: 350px;
    object-fit: cover;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 30px;
}

